<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/restaurants">Rating Manager</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link" href="/restaurants/add">Create Restaurant</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/restaurants/cuisine">Cuisine</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/restaurants">Restaurant List</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/customer">Customers</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/rating">Rating</a>
        </li>

      </ul>
    </div>
  </div>
</nav>